<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/navbar.css' %}">
</head>
<body>
<div class="nav-container">
    <a href="{% url 'home' %}" class="nav-link"><h2>Home</h2></a>
    <a href="{% url 'train' %}" class="nav-link"><h2>Train</h2></a>
    <a href="{% url 'infer' %}" class="nav-link"><h2>Inference</h2></a>
    <a href="{% url 'style-transfer' %}" class="nav-link"><h2>Style Transfer</h2></a>
    <a href="{% url 'logs' %}" class="nav-link"><h2>Logs</h2></a>
</div>
<hr>
</body>
</html>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let currentPath = window.location.pathname;

        // Find the corresponding link and add the "active" class
        let links = document.querySelectorAll('.nav-link');
        links.forEach(function (link) {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>